@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

*{
	transition:all ease 0.5s;
}


:hover{
	transition:all ease 0.5s;
	}


a.nav-link{
	text-transform: lowercase;
	font-variant: small-caps;
}

section header{
	height:auto;
	min-height: 60vh;
}

section#hello header{
	background:silver url('https://picsum.photos/id/261/900/400') center center no-repeat;
	background-size:cover; font-family: 'Limelight', cursive;   text-shadow: 2px 2px #000;


}

section#work header{
	background:silver url('https://picsum.photos/id/260/900/400') center center no-repeat;
	background-size:cover;	font-family: 'Limelight', cursive; text-shadow: 2px 2px #000;
}

section#contact header{
	background:silver url('https://picsum.photos/id/120/900/400') center center no-repeat;
	background-size:cover;	
	font-family: 'Limelight', cursive; 
	text-shadow: 2px 2px #000;
}

#portfolio {
	min-height: 400vh;
}

@media screen and (orientation:portrait) {
#portfolio {
	min-height: 780vh;
}
}
	
:target:before {
	content:"";
	display:block;
	height:70px;
	margin:-70px 0 0;
}

